.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 100vh;
}

.video-details-failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 30px;
}

.no-search-results-img {
  width: 300px;
}

.video-details-retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  width: 70px;
  font-weight: bold;
  cursor: pointer;
}

.video-details-side-bar-container {
  display: flex;
}

.video-player-responsive-container {
  width: 100%;
  height: 50vh;
}

.video-details-container {
  display: flex;
  flex-direction: column;
}

.video-main-details-container {
  display: flex;
  justify-content: space-between;
}

.video-views-published-date-container {
  display: flex;
}

.like-dislike-saved-container {
  display: flex;
}

.channel-details-container {
  display: flex;
  flex-direction: column;
}

.logo-name-subscribers-container {
  display: flex;
}

.name-subscribers-lgdescription-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.channel-logo {
  width: 50px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .video-player-responsive-container {
    width: 95vw;
    height: 30vh;
  }

  .video-main-details-container {
    display: flex;
    flex-direction: column;
  }

  .no-search-results-img {
    width: 250px;
  }

  .video-details-failure-container {
    margin-top: 100px;
  }
}
